@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@media all and (-moz-windows-compositor:0) {
	window {
		-moz-binding: url(chrome://dta/content/common/bindings.xml#regularwindow);
	}
}
@media all and (-moz-windows-compositor) {
	window:not(:-moz-lwtheme) {
		-moz-appearance: -moz-win-borderless-glass;
		background: transparent;
		-moz-binding: url(chrome://dta/content/common/bindings.xml#drawablewindow);
	}

	#titlebar {
		-moz-binding: url(chrome://dta/content/common/bindings.xml#titlebar);
	}

	toolbox:not(:-moz-lwtheme) {
		background: transparent;
		-moz-appearance: -moz-win-glass !important;
		text-shadow: 0 0 .8em white, 0 0 .8em white, 0 1px 0 rgba(255,255,255,.4);
		margin-bottom: 4px !important;
	}

	toolbox:not(:-moz-lwtheme) toolbarbutton {
		-moz-appearance: none;
		padding: 1px 5px;
		background: rgba(151,152,153,.6)
			-moz-linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.85) 5%, rgba(246,247,248,.5) 25%,
				rgba(231,232,233,0.3) 35%, rgba(225,226,229,.9));
		background-clip: padding-box;
		-moz-border-radius: 6.5px;
		border: 1px solid;
		border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38);
		box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			0 0 0 2px rgba(255,255,255,.1) inset,
			0 1px 0 rgba(0,0,0,.15);
		color: black;
		text-shadow: 0 0 3px white;
		margin: 1px 4px;
	}

	toolbox:not(:-moz-lwtheme) toolbarbutton[disabled="true"] {
		opacity: .3;
	}

	toolbox:not(:-moz-lwtheme) toolbarbutton[disabled="true"] > .toolbarbutton-icon {
		opacity: .2;
	}

	#prespacer {
		width: 20px;
		display: -moz-box;
	}

	#tools {
		/* draggable glass toolbar (bugzilla 555081) */
		-moz-binding: url(chrome://global/content/bindings/toolbar.xml#toolbar-drag);
	}

	#tools[mode="icons"]:not(:-moz-lwtheme) {
		-moz-border-radius: 4.5px;
	}

	toolbox:not(:-moz-lwtheme) toolbarbutton:not([disabled="true"]):not([checked="true"]):not(:active):hover {
		background-color: hsla(190,60%,70%,.5);
		border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8);
		box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
			0 0 0 2px rgba(255,255,255,.1) inset,
			0 1px 0 rgba(0,0,0,.1),
			0 0 5px hsl(190,90%,80%);
		-moz-transition: background-color .4s ease-in,
			border-color .2s ease-in,
			box-shadow 0.3s ease-in;
	}

	#tooladd:not(:-moz-lwtheme):not([disabled="true"]):not([checked="true"]):not(:active):hover {
 		background: rgba(8,111,253,.05)
			-moz-linear-gradient(rgba(225,226,229,.95), rgba(225,226,229,.85) 5%, rgba(8,111,253,.4) 35%,
			rgba(8,111,253,.5) 50%, rgba(225,226,229,0.9));
		border-color: rgba(4,39,117,.8);
		box-shadow: 0 0 0 1px rgba(88,191,253,.3) inset,
			0 0 0 2px rgba(88,191,253,.1) inset,
			0 1px 0 rgba(88,191,253,.1),
			0 0 5px rgb(128,128,255);
	}

	#toolplay:not(:-moz-lwtheme):not([disabled="true"]):not([checked="true"]):not(:active):hover {
		background: rgba(18,173,0,.05)
			-moz-linear-gradient(rgba(225,226,229,.95), rgba(225,226,229,.85) 5%, rgba(18,173,0,.4) 35%,
			rgba(18,173,0,.5) 50%, rgba(225,226,229,0.9));
		border-color: rgba(5,98,0,.8);
		box-shadow: 0 0 0 1px rgba(88,173,80,.3) inset,
			0 0 0 2px rgba(88,173,80,.1) inset,
			0 1px 0 rgba(88,173,0,.1),
			0 0 5px rgb(128,255,128);
	}

	#toolpause:not(:-moz-lwtheme):not([disabled="true"]):not([checked="true"]):not(:active):hover {
		background: rgba(255,175,0,.05)
			-moz-linear-gradient(rgba(225,226,229,.95), rgba(225,226,229,.95) 5%, rgba(255,175,0,.4) 35%,
				rgba(255,175,0,0.5) 50%, rgba(225,226,229,0.9));
		border-color: rgba(150,96,6,.8);
		box-shadow: 0 0 0 1px rgba(255,215,70,.3) inset,
			0 0 0 2px rgba(255,215,70,.1) inset,
			0 1px 0 rgba(255,215,70,.1),
			0 0 5px rgb(255,252,107);
	}

	#toolcancel:not(:-moz-lwtheme):not([disabled="true"]):not([checked="true"]):not(:active):hover {
		background: rgba(255,72,0,.05)
			-moz-linear-gradient(rgba(225,226,229,.95), rgba(225,226,229,.95) 5%, rgba(255,72,0,.4) 35%,
			rgba(255,72,0,.5) 50%, rgba(225,226,229,0.9));
		border-color: rgba(165,7,7,.8);
		box-shadow: 0 0 0 1px rgba(253,128,128,.3) inset,
			0 0 0 2px rgba(253,128,128,.1) inset,
			0 1px 0 rgba(253,128,128,.1),
			0 0 5px rgb(255,128,128);
	}

	toolbox:not(:-moz-lwtheme) :-moz-any(
		toolbarbutton:not([disabled="true"]):hover:active,
		toolbarbutton[checked="true"],
		toolbarbutton[open="true"]
	) {
		background-color: transparent;
		border-color: rgba(0,0,0,.65) rgba(0,0,0,.55) rgba(0,0,0,.5);
		box-shadow: 0 0 9px rgba(0,0,0,.4) inset,
			0 0 3px rgba(0,0,0,.4) inset,
			0 1px 0 rgba(255,255,255,.4);
	  text-shadow: none;
	}

	toolbox:not(:-moz-lwtheme) toolbarbutton[checked="true"]:not(:active):hover {
		background-color: rgba(90%,90%,90%,.4);
		-moz-transition: background-color .4s;
	}

	toolbox:not(:-moz-lwtheme) toolbarbutton > .toolbarbutton-icon {
		-moz-margin-end: 0;
	}

	.statusbarpanel-text:not(:-moz-lwtheme) {
		text-shadow: 0 0 0.5em white, 0 0 1.2em white, 2px 2px 2px rgba(255,255,255,.8);
	}
}
