@import 'chrome://dta/skin/common/style.css';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
	
#metaselect {
	width: 600px;
	height: 430px;
}
#header {
	margin: 1ex;
	margin-bottom: 1em;
}
#header label, #downloads label {
	font-weight: bold;
}
.icon, html|*.icon {
	margin: 1ex;
	margin-top: 0.5ex;
}
.additional {
	text-align: right;
	font-style: italic;
	max-width: 10%;
}
richlistitem {
	border-bottom: 1px dotted rgb(192, 192, 192);
	background-color: transparent !important;
	color: inherit !important;	
}
richlistitem .icon {
	margin-top: 1ex !important;
}
richlistitem vbox {
	padding: 4pt;
}