@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

statusbarpanel#netstatus {
	list-style-image: url(chrome://communicator/skin/icons/online.png);
	-moz-image-region: auto !important;
}
statusbarpanel#netstatus[offline] {
	list-style-image: url(chrome://communicator/skin/icons/offline.png);
	-moz-image-region: auto !important;
}