@import 'chrome://dta/skin/common/style.css';
@import 'chrome://dta-platform/skin/manager.css';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
	
toolbox {
	border-width: 0px;
}

#tools {
	-moz-appearance: none !important;
	border-width: 0px;
	height: 51px;
}
#tools toolbarbutton {
	list-style-image: url(chrome://dta/skin/manager/tools.png);
	-moz-box-orient: vertical !important;
	-moz-box-align: center !important;
	-moz-appearance: none !important;
	border: 0;
	margin-top: 2px;
	margin-bottom: 3px;
	text-align: center;
}

#tools .toolbarbutton-icon {
	margin: 0 !important;
}

#tools .toolbarbutton-text {
	min-width: 45px;
	margin: 0;
	padding: 0;
	text-anchor: center;
}

#tools spacer {
	min-width: 5px;
}
#tools spacer.visible {
	background: url(chrome://dta/skin/common/toolbarspacer.png) no-repeat 50% 11px;
	min-width: 13px;
}

#tooladd {
	-moz-image-region: rect(0px,52px,26px,26px);
}
#tooladd:hover, #tooladd:active {
	-moz-image-region: rect(0px,26px,26px,0px);
}
#tooladd[disabled="true"] {
	-moz-image-region: rect(0px,78px,26px,52px);    
}


#toolcancel {
	-moz-image-region: rect(26px,52px,52px,26px);
}
#toolcancel:hover, #toolcancel:active {
	-moz-image-region: rect(26px,26px,52px,0px);
}
#toolcancel[disabled="true"] {
	-moz-image-region: rect(26px,78px,52px,52px);    
}

#toolplay {
	-moz-image-region: rect(52px,52px,78px,26px);
}
#toolplay:hover, #toolplay:active {
	-moz-image-region: rect(52px,26px,78px,0px);
}
#toolplay[disabled="true"] {
	-moz-image-region: rect(52px,78px,78px,52px);    
}


#toolpause {
	-moz-image-region: rect(78px,52px,104px,26px);
}
#toolpause:hover, #toolpause:active {
	-moz-image-region: rect(78px,26px,104px,0px);
}
#toolpause[disabled="true"] {
	-moz-image-region: rect(78px,78px,104px,52px);    
}

#toolmovetop {
	-moz-image-region: rect(104px,52px,130px,26px);
}
#toolmovetop:hover, #toolmovetop:active {
	-moz-image-region: rect(104px,26px,130px,0px);
}
#toolmovetop[disabled="true"] {
	-moz-image-region: rect(104px,78px,130px,52px);    
}

#toolmoveup {
	-moz-image-region: rect(130px,52px,156px,26px);
}
#toolmoveup:hover, #toolmoveup:active {
	-moz-image-region: rect(130px,26px,156px,0px);
}
#toolmoveup[disabled="true"] {
	-moz-image-region: rect(130px,78px,156px,52px);    
}

#toolmovedown {
	-moz-image-region: rect(156px,52px,182px,26px);
}
#toolmovedown:hover, #toolmovedown:active {
	-moz-image-region: rect(156px,26px,182px,0px);
}
#toolmovedown[disabled="true"] {
	-moz-image-region: rect(156px,78px,182px,52px);    
}

#toolmovebottom {
	-moz-image-region: rect(182px,52px,208px,26px);
}
#toolmovebottom:hover, #toolmovebottom:active {
	-moz-image-region: rect(182px,26px,208px,0px);
}
#toolmovebottom[disabled="true"] {
	-moz-image-region: rect(182px,78px,208px,52px);    
}

#tooldonate {
	list-style-image: url(chrome://dta/skin/manager/donate.png);
	-moz-image-region: rect(51px,360px,102px,180px); 	
	min-width: 180px !important;
	cursor: pointer;
}
#tooldonate:hover {
	-moz-image-region: rect(51px,180px,102px,0px);
}
#tooldonate[chromedir="rtl"] {
	-moz-image-region: rect(0px,360px,51px,180px);
}
#tooldonate[chromedir="rtl"]:hover {
	-moz-image-region: rect(0px,180px,51px,0px);
}

#tooltip{
	width: 500px;
	padding: 5pt;
}
#infoIcon {
	margin: 1.6ex;
	width: 32px !important;
	height: 32px !important;
	-moz-box-flex: 0 !important;
}
#tooltip grid {
	-moz-box-flex: 1;
}
#infoGrid label {
	margin-bottom: 0;
	font-weight: bold;
}
#infoGrid label[crop] {
	font-weight: normal;
	max-width: 300px;	
}
#canvasGrid label[id] {
	font-weight: bold;
}
#infoPercent {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	background: transparent !important;
}
stack > #infoPercent {
	padding-top: 7px;
	height: 40px;
}
#chunkAlt {
	height: 32px;
	margin-top: 1ex;
	margin-bottom: 1ex;
}	
#chunkAlt > #infoPercent {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 6px;
	min-width: 4.2ex;
}
#infoDest {
	font-weight: bold !important;
	font-size: 105%;
}

#downloads[offline]  {
	color: gray !important;
}

#loadingbox {
  opacity: 0.6;
  background-color: -moz-Field;
}

#loading {
  -moz-appearance: none;
  -moz-user-focus: ignore;
  border: none !important;
  min-width: 0;
  background-color: transparent;
  color: -moz-fieldText;

	font-size: large;
	font-weight: bold;
}

#loading label {
	padding-left: 2ex;
}

treechildren::-moz-tree-progressmeter(completed) {
  color: #008F00 !important;
}

treechildren::-moz-tree-progressmeter(paused) {
  color: #FFCC00 !important;
}
treechildren::-moz-tree-progressmeter(paused, pausedAutoretrying) {
	color: #849FFF !important;
}
treechildren::-moz-tree-progressmeter(canceled) {
  color: #B12801 !important;
}

treechildren::-moz-tree-progressmeter(queued) {
  color: #BFDEFF !important;
}

treechildren::-moz-tree-progressmeter(inprogress) {
  color: #AAE061 !important;
}
textbox.plain {
	background-color: transparent !important;
}
