@import 'chrome://dta-platform/skin/integration.css';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#dta-turbo-button {
	list-style-image: url("chrome://dta/skin/common/tools.png");
	-moz-image-region: rect(0px,59px,25px,40px);
}
#dta-turbo-button:hover {
	-moz-image-region: rect(0px,79px,25px,60px);
}
toolbar[iconsize="small"] #dta-turbo-button {
	list-style-image: url("chrome://dta/skin/common/smalltools.png");
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}
#dta-button {
	list-style-image: url("chrome://dta/skin/common/tools.png");
	-moz-image-region: rect(0px,20px,25px,0px);
}

#dta-button:hover {
	-moz-image-region: rect(0px,40px,25px,20px);

}
toolbar[iconsize="small"] #dta-button {
	list-style-image: url("chrome://dta/skin/common/smalltools.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

#dta-manager-button {
	list-style-image: url("chrome://dta/skin/common/tools.png");
	-moz-image-region: rect(0px,104px,24px,80px);
}
#dta-manager-button:hover {
	-moz-image-region: rect(0px,128px,24px,104px);
}
toolbar[iconsize="small"] #dta-manager-button {
	list-style-image: url("chrome://dta/skin/common/smalltools.png");
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}

.dta {
	list-style-image: url("chrome://dta/skin/common/smalltools.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
.dtaturbo {
	list-style-image: url("chrome://dta/skin/common/smalltools.png");
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}
.dtaprefs {
	list-style-image: url("chrome://dta/skin/common/smalltools.png");
	-moz-image-region: rect(0px, 64px, 16px, 48px);	
}
.dtamanager {
	list-style-image: url("chrome://dta/skin/common/smalltools.png");
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}
.dtaToolsAbout {
	list-style-image: url("chrome://dta/skin/common/smalltools.png");
	-moz-image-region: rect(0px, 96px, 16px, 80px);
}