@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
treechildren::-moz-tree-progressmeter {
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: ThreeDHighlight -moz-Dialog;
  -moz-border-bottom-colors: ThreeDHighlight -moz-Dialog;
  -moz-border-left-colors: ThreeDShadow -moz-Dialog;
  color: ThreeDShadow;
}

treechildren::-moz-tree-cell-text(progressmeter) {
  margin: 2px 4px;
}

#tooltip, #tooltip * {
	color: windowText !important;
}
tree,
treechildren::-moz-tree-row,
treechildren::-moz-tree-row(even),
treechildren::-moz-tree-row(odd) {
	background-color: white;
}
treechildren::-moz-tree-cell-text {
	color: black;	
}
toolbar *{
	color: windowText !important;
}

radio[pane] {
	min-width: 60px;
}