@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.titlebox-iconbox,
.titlebox-titlebox {
	-moz-box-align: center;
	-moz-box-pack: center;
	margin-top: 4px;
	padding: 2px;
}
.titlebox-iconbox {
	padding-right: 4px;
}