#dtaPreferences radio[pane] {
	list-style-image: url(chrome://dta/skin/preferences/preferences.png);
}

radio[pane="paneMain"] {
	-moz-image-region: rect(0px, 32px,  32px, 0px);
}
radio[pane="paneMain"]:hover,
radio[pane="paneMain"][selected="true"] {
	-moz-image-region: rect(32px, 32px,  64px, 0px);
}

radio[pane="paneFilters"] {
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}
radio[pane="paneFilters"]:hover,
radio[pane="paneFilters"][selected="true"] {
	-moz-image-region: rect(32px, 64px, 64px, 32px);
}

radio[pane="panePrivacy"] {
	-moz-image-region: rect(0px, 96px,  32px, 64px);
}
radio[pane="panePrivacy"]:hover,
radio[pane="panePrivacy"][selected="true"] {
	-moz-image-region: rect(32px, 96px,  64px, 64px);
}

radio[pane="paneInterface"] {
	-moz-image-region: rect(0px, 128px,  32px, 96px);
}
radio[pane="paneInterface"]:hover,
radio[pane="paneInterface"][selected="true"] {
	-moz-image-region: rect(32px, 128px,  64px, 96px);
}
radio[pane="paneAdvanced"] {
	-moz-image-region: rect(0px, 160px,  32px, 128px);
}
radio[pane="paneAdvanced"]:hover,
radio[pane="paneAdvanced"][selected="true"] {
	-moz-image-region: rect(32px, 160px,  64px, 128px);
}

caption {
	font-weight: bold;
}