@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#turbodtaexec {
	list-style-image: url("chrome://dta/skin/toolbarbuttons/turbo.png");
}