@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
treechildren::-moz-tree-progressmeter {
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: ThreeDHighlight -moz-Dialog;
  -moz-border-bottom-colors: ThreeDHighlight -moz-Dialog;
  -moz-border-left-colors: ThreeDShadow -moz-Dialog;
  color: ThreeDShadow;
}

treechildren::-moz-tree-cell-text(progressmeter) {
  margin: 2px 4px;
}

#tooltip, #tooltip * {
	color: windowText !important;
}
tree,
treechildren::-moz-tree-row,
treechildren::-moz-tree-row(even),
treechildren::-moz-tree-row(odd) {
	background-color: white;
}
treechildren::-moz-tree-cell-text {
	color: black;	
}
toolbar *{
	color: windowText !important;
}

radio[pane] {
	min-width: 60px;
}

.scale-slider {
	-moz-appearance: scale-horizontal !important;	
	height: 16px !important;
	background-color: transparent !important;
	background-image: url(chrome://global/skin/scale/scale-tray-horiz.gif) !important;
	background-repeat: repeat-x !important;
	background-attachment: scroll !important;
	background-position: 0% 50% !important;
	-moz-background-clip: -moz-initial !important;
	-moz-background-origin: -moz-initial !important;
	-moz-background-inline-policy: -moz-initial !important;	
}	

.scale-thumb {
	-moz-appearance: scalethumb-horizontal !important;
	width: 6px !important;
	height: 16px !important;	
}