@import 'chrome://dta/content/common/bindings.css';
@import 'chrome://dta-platform/skin/common.css';

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


		
dialogheader {
	border: 2px solid -moz-use-text-color;
	-moz-border-top-colors: threedshadow threeddarkshadow;
	-moz-border-right-colors: threedhighlight threeddarkshadow;
	-moz-border-bottom-colors: threedhighlight threeddarkshadow;
	-moz-border-left-colors: threedshadow threeddarkshadow;
}

/* maskbutton */
maskbutton {
	-moz-binding: url(chrome://dta/content/dta/maskbutton.xml#maskbutton);
}
#maskitems row {
	-moz-binding: url(chrome://dta/content/dta/maskbutton.xml#maskitem);
}
.masktag {
	text-decoration: underline;
	cursor :pointer;
	font-family: "Courier New", Courier, monospace;
}
.masktitle {
	background-color: transparent !important;
	font-weight: bold;
	text-align: center;
	font-size: large;
	padding-bottom: 3px;
}
/* ~maskbutton */

#browsedir {
	list-style-image: url("chrome://dta/skin/common/browse.png");
}

/* maskbutton */
maskbutton toolbarbutton {
	list-style-image: url("chrome://dta/skin/common/mask.png");
}

/* maskbutton/browsedir common */
maskbutton toolbarbutton,
#browsedir {
	-moz-image-region: rect(0px,48px,21px,24px) !important;
}

maskbutton toolbarbutton:hover,
#browsedir:hover {
	-moz-image-region: rect(0px,24px,21px,0px) !important;
}

maskbutton toolbarbutton:active,
#browsedir:active {
	-moz-image-region: rect(0px,72px,21px,48px) !important;
}

maskbutton .toolbarbutton-icon,
#browsedir .toolbarbutton-icon {
	-moz-margin-end: 0;
}
maskbutton .toolbarbutton-text,
#browsedir .toolbarbutton-text {
	display: none;
}


#footer statusbarpanel[class]:hover {
	text-decoration: underline;
}

#logo {
	color: windowText;
	background: white url(chrome://dta/skin/common/logo.png) no-repeat right top;	
	min-width: 290px !important;
	height: 42px !important;
	overflow: visible;
	-moz-box-align: center;
	-moz-box-pack: start;
	padding: 3px !important;
	padding-left: 1em !important;
	margin: 0 !important;
}
#logo > label {
	-moz-box-align: start;
	-moz-box-flex: 0;
}	
#logo[chromedir="rtl"] {
	background: white url(chrome://dta/skin/common/logo-rtl.png) no-repeat left top;
}
#logo .dialogheader-title {
	padding-top: 2px;
	font-weight: bold;
	font-size: larger;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 0.7em;
	background: transparent left center no-repeat;
}
#logo.renamingmask {
	list-style-image: url('chrome://dta/skin/select/mask.png');
}

/* snip */

#frameSelection, listbox.list, #regexbox {
	margin:0px;
}


#saveas {
	margin-bottom: 10px; 
	margin-top: 10px;
}

#head image:hover {
	margin-right:1px;
	
}

.hidegroup {
	border:0px; margin: 0px; padding: 0px;
}

#checkcontainer {
	margin-right: 10px;
}

.list {
	overflow: auto;
}

tree treecols splitter {
  -moz-box-align: center;
  -moz-box-pack: center;
  cursor: e-resize;
  border-color: #ddd;
  border: 1px solid #ddd;
  background-color: #ddd;
  border-width: 0px 0px 0px 1px;
  min-width: 0px;
}

#donate {
	font-style:italic;
	text-align:right !important;
	font-size: 9px !important;
	cursor: pointer;
}

.toolbarbutton-menu-dropmarker {
	list-style-image: none;
}

scrollbarbutton[sbattr="scrollbar-up-bottom"]{
	display: -moz-box !important;
	
}
treechildren::-moz-tree-cell-text(selected) {
	color: white;
	font-weight: bold;
}
treechildren::-moz-tree-row(selected) {
	background-color: #7aa3cc !important;
}

treechildren::-moz-tree-row {
	min-height: 21px;
}

treechildren::-moz-tree-image(iconic) {
	padding-left: 0.1ex;
	padding-right: 0.5ex;
}

textbox[readonly], menulist[disabled] {
  cursor: default !important;
  background-color: -moz-dialog !important;
  color: GrayText !important;
}
textbox[readonly] html|*.textbox-input {
  color: GrayText !important;
	font-style: italic;
}

textbox {
	padding-top: 3px;
	padding-bottom: 3px;
}

/* foreign theme compat, i.e. Songbird */
statusbar {
	-moz-appearance: statusbar;
	min-height: 22px;	
}
statusbarpanel {
	-moz-appearance: statusbarpanel;
	-moz-box-align: center;
	-moz-box-pack: center;
	height: auto;
}
statusbarpanel > label {
	margin-top: 1px;
	margin-bottom: 2px;
}