@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#dta-button,
#dta-turbo-button,
#dta-turboselect-button,
#dta-manager-button,
.dta-toolbarbutton {
	list-style-image: url(buttons16.png);
}

#dta-button {
	-moz-image-region: rect(0px,32px,16px,16px);
}
#dta-button:hover {
	-moz-image-region: rect(0px,16px,16px,0px);
}
#dta-turbo-button {
	-moz-image-region: rect(0px,64px,16px,48px);
}
#dta-turbo-button:hover {
	-moz-image-region: rect(0px,48px,16px,32px);
}
#dta-turboselect-button {
	-moz-image-region: rect(0px,96px,16px,80px);
}
#dta-turboselect-button:hover {
	-moz-image-region: rect(0px,80px,16px,64px);
}
#dta-manager-button {
	-moz-image-region: rect(0px, 112px, 16px, 96px);
}

@media (min-resolution: 2dppx) {
	#dta-button,
	#dta-turbo-button,
	#dta-turboselect-button,
	#dta-manager-button,
	.dta-toolbarbutton {
		list-style-image: url(buttons@2x.png);
	}
	:-moz-any(#dta-button, #dta-turbo-button, #dta-turboselect-button, #dta-manager-button, .dta-toolbarbutton) .toolbarbutton-icon {
		width: 16px;
	}

	#dta-button {
		-moz-image-region: rect(0px,64px,32px,32px);
	}
	#dta-button:hover {
		-moz-image-region: rect(0px,32px,32px,0px);
	}
	#dta-turbo-button {
		-moz-image-region: rect(0px,128px,32px,96px);
	}
	#dta-turbo-button:hover {
		-moz-image-region: rect(0px,96px,32px,64px);
	}
	#dta-turboselect-button {
		-moz-image-region: rect(0px,192px,32px,160px);
	}
	#dta-turboselect-button:hover {
		-moz-image-region: rect(0px,160px,32px,128px);
	}
	#dta-manager-button {
		-moz-image-region: rect(0px,224px,32px,192px);
	}
}
