@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#views toolbarbutton, #views toolbarbutton:hover {
	margin: 0px !important;
}

.downlinks {
	width:780px;
	height:450px;
}

.selectlinks caption {
	font-weight: normal !important;
}

notificationbox {
	/* avoid horizontal scrollbar */
	overflow: hidden;
}