@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tools > toolbarbutton {
	border: 1px solid transparent;
	margin-bottom: 3px !important;
}
#tools > toolbarbutton:hover:not([disabled="true"]) {
	border-color: hsla(0,0%,0%,.45) hsla(0,0%,0%,.45) hsla(0,0%,0%,.7) hsla(0,0%,0%,.4);
	border-radius: 6px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);
	background-image: -moz-linear-gradient(hsla(0,0%,100%,.73), hsla(0,0%,100%,.05) 85%);
}
#tools > toolbarbutton:hover:active:not([disabled="true"]) {
	background-image: -moz-linear-gradient(hsla(0,0%,60%,.37), hsla(0,0%,100%,.35) 95%);
	border-color: hsla(0,0%,0%,.53) hsla(0,0%,0%,.35) hsla(0,0%,0%,.47);
}

#actions > toolbarbutton {
	min-width: 26px;
	min-height: 24px;
}
#actions > toolbarbutton:hover:not([disabled="true"]) {
	-moz-appearance: toolbarbutton !important;
}

#search {
	border-radius: 10000px;
	-moz-appearance: none;
	box-shadow: 0 1px rgba(255, 255, 255, 0.2), inset 0 1px hsla(0,0%,0%,.05);
	margin: 0 4px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 6px;
	border: 1px solid;
	border-color: #626262 #787878 #8c8c8c;
	background-clip: padding-box;
}
@media (-moz-mac-lion-theme) {
	#search {
		background-image: -moz-linear-gradient(hsl(0,0%,97%), hsl(0,0%,100%));
		border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.25) hsla(0,0%,0%,.15);
		box-shadow: 0 1px 0 hsla(0,0%,100%,.2), inset 0 0 1px hsla(0,0%,0%,.05), inset 0 1px 2px hsla(0,0%,0%,.1);
	}
}
#search[focused="true"] {
	border-color: -moz-mac-focusring;
	box-shadow: 0 0 1px -moz-mac-focusring inset, 0 0 4px 1px -moz-mac-focusring, 0 0 1.5px 1px -moz-mac-focusring;
}

#search .toolbarbutton-text {
	display: none;
}

#search > image {
	list-style-image: url(chrome://browser/skin/Search.png);
}

#loading {
	list-style-image: url(chrome://global/skin/icons/information-32.png);
}

/* mac doesn't use resizers */
#footer > resizer {
	display: none;
}

statusbarpanel#netstatus {
	list-style-image: url(chrome://dta/skin/manager/netstatus.png);
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}
statusbarpanel#netstatus[offline] {
	-moz-image-region: rect(16px, 32px, 32px, 16px);
}

/* pinestripe makes this important at 32px :p */
toolbarspacer {
	min-width: 6px !important;
}
toolbarspacer.visible {
	min-width: 13px !important;
}

#actionsbox {
	-moz-appearance: toolbar;
}
#actions {
	-moz-appearance: none;
	background: transparent;
}

treecol > dropmarker {
	-moz-appearance: none;
}

toolbar#tools > toolbarbutton {
	list-style-image: url(tools.png);
}
toolbar#tools > toolbarbutton > .toolbarbutton-icon {
	width: 26px;
	height: 26px;
}

treecol[params] .treecol-marker {
	list-style-image: url("chrome://global/skin/menu/menu-check.png") !important;
	-moz-image-region: rect(0px, 10px, 11px, 0px) !important;
}


@media (min-resolution: 2dppx) {
	toolbar#tools > toolbarbutton {
		list-style-image: url(tools@2x.png);
	}

	#tooladd {
		-moz-image-region: rect(0px,104px,52px,52px);
	}
	#tooladd:hover, #tooladd:active {
		-moz-image-region: rect(0px,52px,52px,0px);
	}
	#tooladd[disabled="true"] {
		-moz-image-region: rect(0px,156px,52px,104px);
	}

	#toolcancel {
		-moz-image-region: rect(52px,104px,104px,52px);
	}
	#toolcancel:hover, #toolcancel:active {
		-moz-image-region: rect(52px,52px,104px,0px);
	}
	#toolcancel[disabled="true"] {
		-moz-image-region: rect(52px,156px,104px,104px);
	}

	#toolplay {
		-moz-image-region: rect(104px,104px,156px,52px);
	}
	#toolplay:hover, #toolplay:active {
		-moz-image-region: rect(104px,52px,156px,0px);
	}
	#toolplay[disabled="true"] {
		-moz-image-region: rect(104px,156px,156px,104px);
	}


	#toolpause {
		-moz-image-region: rect(156px,104px,208px,52px);
	}
	#toolpause:hover, #toolpause:active {
		-moz-image-region: rect(156px,52px,208px,0px);
	}
	#toolpause[disabled="true"] {
		-moz-image-region: rect(156px,156px,208px,104px);
	}

	#toolmovetop {
		-moz-image-region: rect(208px,104px,260px,52px);
	}
	#toolmovetop:hover, #toolmovetop:active {
		-moz-image-region: rect(208px,52px,260px,0px);
	}
	#toolmovetop[disabled="true"] {
		-moz-image-region: rect(208px,156px,260px,104px);
	}

	#toolmoveup {
		-moz-image-region: rect(260px,104px,312px,52px);
	}
	#toolmoveup:hover, #toolmoveup:active {
		-moz-image-region: rect(260px,52px,312px,0px);
	}
	#toolmoveup[disabled="true"] {
		-moz-image-region: rect(260px,156px,312px,104px);
	}

	#toolmovedown {
		-moz-image-region: rect(312px,104px,364px,52px);
	}
	#toolmovedown:hover, #toolmovedown:active {
		-moz-image-region: rect(312px,52px,364px,0px);
	}
	#toolmovedown[disabled="true"] {
		-moz-image-region: rect(312px,156px,364px,104px);
	}

	#toolmovebottom {
		-moz-image-region: rect(364px,104px,416px,52px);
	}
	#toolmovebottom:hover, #toolmovebottom:active {
		-moz-image-region: rect(364px,52px,416px,0px);
	}
	#toolmovebottom[disabled="true"] {
		-moz-image-region: rect(364px,156px,416px,104px);
	}

	#search > image {
		list-style-image: url(chrome://browser/skin/Search@2x.png);
		width: 14px;
		height: 14px;
	}
}
