@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#search {
	margin: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0;
}

#search .toolbarbutton-text {
	display: none;
}

#loading {
	list-style-image: url(chrome://global/skin/icons/information-32.png);
}

/* mac doesn't use resizers */
#footer > resizer {
	display: none;
}

statusbarpanel#netstatus {
	list-style-image: url(chrome://dta/skin/manager/netstatus.png);
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}
statusbarpanel#netstatus[offline] {
	-moz-image-region: rect(16px, 32px, 32px, 16px);
}

/* pinestripe makes this important at 32px :p */
toolbarspacer {
	min-width: 6px !important;
}
toolbarspacer.visible {
	min-width: 13px !important;
}

#actionsbox {
	-moz-appearance: toolbar;
}
#actions {
	-moz-appearance: none;
	background: transparent;
}

treecol > dropmarker {
	-moz-appearance: none;
}

toolbar#tools > toolbarbutton {
	list-style-image: url(tools.png);
}
