@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tools > toolbarbutton {
	border: 1px solid transparent;
	margin-bottom: 3px !important;
}
#tools > toolbarbutton:hover:not([disabled="true"]) {
	border-color: hsla(0,0%,0%,.45) hsla(0,0%,0%,.45) hsla(0,0%,0%,.7) hsla(0,0%,0%,.4);
	border-radius: 6px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);
	background-image: -moz-linear-gradient(hsla(0,0%,100%,.73), hsla(0,0%,100%,.05) 85%);
}
#tools > toolbarbutton:hover:active:not([disabled="true"]) {
	background-image: -moz-linear-gradient(hsla(0,0%,60%,.37), hsla(0,0%,100%,.35) 95%);
	border-color: hsla(0,0%,0%,.53) hsla(0,0%,0%,.35) hsla(0,0%,0%,.47);
}

#actions > toolbarbutton {
	min-width: 26px;
	min-height: 24px;
}
#actions > toolbarbutton:hover:not([disabled="true"]) {
	-moz-appearance: toolbarbutton !important;
}

#search {
	margin: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0;
}

#search .toolbarbutton-text {
	display: none;
}

#loading {
	list-style-image: url(chrome://global/skin/icons/information-32.png);
}

/* mac doesn't use resizers */
#footer > resizer {
	display: none;
}

statusbarpanel#netstatus {
	list-style-image: url(chrome://dta/skin/manager/netstatus.png);
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}
statusbarpanel#netstatus[offline] {
	-moz-image-region: rect(16px, 32px, 32px, 16px);
}

/* pinestripe makes this important at 32px :p */
toolbarspacer {
	min-width: 6px !important;
}
toolbarspacer.visible {
	min-width: 13px !important;
}

#actionsbox {
	-moz-appearance: toolbar;
}
#actions {
	-moz-appearance: none;
	background: transparent;
}

treecol > dropmarker {
	-moz-appearance: none;
}

toolbar#tools > toolbarbutton {
	list-style-image: url(tools.png);
}

treecol[params] .treecol-marker {
	list-style-image: url("chrome://global/skin/menu/menu-check.png") !important;
	-moz-image-region: rect(0px, 10px, 11px, 0px) !important;
}
