@import 'chrome://dta/skin/common/style.css';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


dialog {
	max-width: 540px;
}

#icon {
	list-style-image: url(../common/icon.png);
	padding: 1ex;
}

textbox[error="true"],
menulist[error="true"],
textbox[error="true"] > hbox,
menulist[error="true"] > hbox,
*[error="true"] html|input {
	color: white;
	background-color: red;
}