dialog  {
	max-width: 500px;
	height: auto;
}
toolbarbutton {
	width: 28px;
}
dialogheader label {
	padding-left: 35px;
	background: url('chrome://dta/skin/add/add.png') no-repeat left center;
}
textbox[readonly], textbox[readonly] * {
	background-color: -moz-dialog;
}