dialog  {
	max-width: 500px;
	height: auto;
}
toolbarbutton {
	width: 28px;
}
dialogheader label {
	padding-top: 4px;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 35px;
	background: url('chrome://dta/skin/add/add.png') no-repeat left center;
}