@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.selectlinks .toolbarbuttonDown {
	border-width: 0px !important;
}

.downlinks {
	width:780px;
	height:450px;
}
prefpane groupbox {	margin: 1em 0.6ex 1ex 0.6ex;}

treechildren::-moz-tree-image(iconic) {
	width: 16px !important;
	height: 16px !important;
}