@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.closebox-title .closebox-twisty {
  -moz-appearance: treetwistyopen;
  -moz-padding-end: 2px;
  padding-top: 1px;
  width: 9px;
  list-style-image: url(chrome://global/skin/tree/twisty-open.png);
}
.closer[closed="true"] .closebox-title .closebox-twisty {
  -moz-appearance: treetwisty;
  width: 9px;
  list-style-image: url(chrome://global/skin/tree/twisty-clsd.png);
}
.selectlinks .toolbarbuttonDown {
	border-width: 0px !important;
}

.downlinks {
	width:780px;
	height:450px;
}
prefpane groupbox {	margin: 1em 0.6ex 1ex 0.6ex;}

treechildren::-moz-tree-image(iconic) {
	width: 16px !important;
	height: 16px !important;
}