@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

treechildren::-moz-tree-progressmeter(progressUndetermined) {
	list-style-image: url('chrome://dta/skin/manager/undetermined.gif');
}
treechildren::-moz-tree-progressmeter(progressUndetermined, pausedUndetermined, pausedAutoretrying) {
	list-style-image: url('chrome://dta/skin/manager/paused-autoretry.png');
}
treechildren::-moz-tree-progressmeter(progressUndetermined, pausedUndetermined) {
	list-style-image: url('chrome://dta/skin/manager/paused-undetermined.png');
}

#loading {
	list-style-image: url(moz-icon://stock/gtk-dialog-info?size=dnd);
}