body, table { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt 
}
.PageCaption { 
	font-size: 18pt; 
	font-weight: bold; 
	text-align: center 
}

.MidCaption { 
	font-size: 10pt; 
	font-weight: bold; 
	text-decoration: underline
}

.SmallCaption { 
	font-size: 8pt; 
	font-weight: bold 
}

a[href^="http://"]:after {
	content: url("chrome://help/locale/images/web-links.png");
}

