@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#loading {
	list-style-image: url(chrome://global/skin/icons/information-32.png);
}

statusbarpanel#netstatus {
	list-style-image: url(chrome://dta/skin/manager/netstatus.png);
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
statusbarpanel#netstatus[offline] {
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}

toolbar#tools > toolbarbutton {
	list-style-image: url(tools.png);
}
