@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#actionsbox {
	padding-left: 2px;
	-moz-appearance: none;
}

#actions {
	background: transparent !important;
}

#toolbox {
	text-shadow: 0 0 .8em white, 0 0 .8em white, 0 1px 0 rgba(255,255,255,.4);
	padding-left: 26px;
	padding-bottom: 4px;
}
